* {
  font-family: sans-serif;
}

nav {
  position: sticky;
  top: 0;
}

nav ul{
  
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  width: 720px;
  

  
}

nav li {
  

  
  cursor: pointer;
  
  margin: 10px;
  text-transform: uppercase;
  
  font-size: 13px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  
  width: 100px;
  height: 100px;
  /*BLUE BG stolen */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 172, 1) 0%,
    rgba(0, 128, 172, 1) 70%,
    rgba(0, 128, 172, 0) 70.3%
  );
  
}

nav a {
  text-decoration: none;
  color: #FFF;
}

